<img src="app pic" alt="app pic" height="42" width="42">
<div>SOME INTRODUCTORY TEXT</div>
<div>More text as subtext of the above</div>
<button type="button">Login!</button><button type="button">Signup!</button>
