
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="/">
          LOGO
        </a>
      </div>

      <span class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="/events">
          Events
        </a>
        <a id="profileLink" class="nav-item" href="/profile/">
          Profile
        </a>

        <span class="nav-item">
          <a class="button" href="/login">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
        <span>Login</span>
        </a>
        <a class="button is-primary" href="/signup">
          <span class="icon">
              <i class="fa fa-download"></i>
            </span>
          <span>Sign up</span>
        </a>
        </span>
      </div>
    </nav>
