<% include ../shared/messages %>

<form method="post" id="editProfile">
    <input type="hidden" name="_method" value="put" />
  <label class="label">Name</label>
<p class="control">
<input id="name" class="input" type="text" placeholder="Text input" name="name">
</p>

<label class="label">New Password</label>
<p class="control has-icon has-icon-right">
<input id="password" class="input is-danger" type="password" placeholder="Password" name="password">
</p>

<p class="control">
<input class="button is-primary" type="submit" name="submit" value="Submit">
<button class="button is-link">Cancel</button>
</p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/urlsrc.js" charset="utf-8"></script>
<script type= "text/javascript" src="/js/editprofile.js"></script>
