<% include ../shared/messages %>

<<<<<<< HEAD
<form id="login" method="post">
  <label class="label">Email</label>
  <p class="control has-icon has-icon-right">
    <input class="input is-success" type="text" placeholder="Email" name="email">
  </p>
  <label class="label">Password</label>
  <p class="control has-icon has-icon-right">
    <input class="input is-danger" type="password" placeholder="Password" name="password">
  </p>
  <p class="control">
    <input type="submit" class="button is-primary" name="submit" value="Submit">
  </p>
</form>
=======
LOGIN PAGE

  <main>
<label class="label">Username</label>
<p class="control has-icon has-icon-right">
  <input id="username" class="input is-success" type="text" placeholder="Text input" value="Please enter your username">
</p>
<label class="label">Password</label>
<p class="control has-icon has-icon-right">
  <input id="password" class="input is-danger" type="text" placeholder="Text input" value="Please enter your password">
</p>
<p class="control">
  <button id="loginBtn" class="button is-primary">Login</button>
</p>
  </main>
>>>>>>> 3fd30d756ae5d02480d269f8db36ef667c4920ff
