<% include ../shared/messages %>

<div id="imgPreview">

</div>
<form id="uploadPhoto" method="post">
  <input type="file" name="file" id="imageUploader">
  <input type="submit" class="button is-primary" name="submit" value="Submit" id="uploadSubmit">
  <p id="status">Please select a file</p>
</form>

<form id="signup" method="post">
<input type="hidden" id="avatar-url" name="avatar-url">
<label class="label">Name</label>
<p class="control">
<input class="input" type="text" placeholder="Name" name="name" data-parsley-required="true">
</p>
<label class="label">Email</label>
<p class="control has-icon has-icon-right">
<input class="input" type="email" placeholder="Email" name="email" data-parsley-required="true">
</p>
<label class="label">Password</label>
<p class="control has-icon has-icon-right">
<input id="password" class="input" type="password" placeholder="Password" name="password" data-parsley-required="true">
</p>
<label class="label">Confirm Password</label>
<p class="control has-icon has-icon-right">
<input class="input" type="password" placeholder="Confirm Password" data-parsley-equalto="#password" data-parsley-required="true">
</p>
<p class="control">
<input type="submit" class="button is-primary" name="submit" value="Submit">
<a href="/" class="button is-danger">Cancel</a>
</p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type= "text/javascript" src="js/parsley.js"></script>
<script src="/js/urlsrc.js" charset="utf-8"></script>
<script src="/js/sreq.js" charset="utf-8"></script>
<script type= "text/javascript" src="js/signup.js"></script>
