
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">


<h1 class="title is-2">Create Event</h1>
<figure class="image is-128x128" id="imgPreview">
  <img src="http://placehold.it/256x256" alt="" />
</figure>
<form id="uploadPhoto" method="post">
  <input type="file" name="file" id="imageUploader">
  <input type="submit" class="button is-primary" name="submit" value="Upload Image" id="uploadSubmit">
</form>

<form id="createForm" action="/events-create" method="POST">
<input type="hidden" id="avatarUrl" name="image" value="http://placehold.it/256x256">
<label class="label">Event Name</label>
<p class="control">
  <input id = "eventname" class="input" type="text" placeholder="What is the name of your event?" name="name" data-parsley-required="true" data-parsley-maxlength="140">
</p>
<label class="label">Event Location</label>
<p class="control has-addons">
  <input id="eventlocation" class="input is-expanded" type="text" placeholder="Where is your event?"  name="location">
  <a class="button is-info" id="btnPosition">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
  </a>
</p>
<input type="hidden" id="latCoordinates" name="coordinates">
<input type="hidden" id="longCoordinates" name="coordinates">
<label class="label">Description</label>
<p class="control">
  <textarea id= "description" class="textarea" placeholder="Please describe the event." name="description" data-parsley-required="true" data-parsley-maxlength="140"></textarea>
</p>
<input id="eventCreator" type="hidden" name="user">
<p class="control">
  <input type="submit" name="submit" value="Submit" class="button is-primary is-fullwidth is-medium">
</p>
</form>
    </div>
  </div>
</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/jquery.geolocation.min.js" charset="utf-8"></script>
<script type= "text/javascript" src="/js/parsley.js"></script>
<script src="/js/urlsrc.js" charset="utf-8"></script>
<script src="/js/createevent.js" charset="utf-8"></script>
