
<h1>Create Event</h1>

<label class="label">Event Name</label>
<form id="createform" action="/events-create" method="POST">
<p class="control">
  <input id = "eventname" class="input" type="text" placeholder="text input" name="name">
</p>
<label class="label">Event Location</label>
<p class="control has-icon has-icon-right">
  <input id = "eventlocation" class="input is-success" type="text" placeholder="Text input"  name="location">
</p>
<label class="label">Description</label>
<p class="control">
  <textarea id= "description" class="textarea" placeholder="Please describe the event" name="description"></textarea>
</p>
<p class="control">
  <button class="button is-primary">Location</button>
  <button class="button is-link">Submit</button>
</p>
</form>





<!-- <div class = "container">
  <div = "row">
<h1 style="text-align: center;">Create an Event</h1>
<div style="width: 70%; margin: 25px auto;">
<form action="/events-create" method="POST">
  <div class="form-group">
      <input class="form-control" type="text" name= "name" placeholder="name">
  </div>
  <div class="form-group">
  <input class="form-control" type="text" name= "Location" placeholder="Location">
</div>
<div class="form-group">
<input class="form-control" type="text" name= "Description" placeholder="Description">
</div>
<div class="form-group">
  <button class = "btn btn-lg btn-primary btn-block">Submit!</button>
  </div>
</form>
</div>

</div>
</div> -->
