

    <label class="label">Create Event</label>
<p class="control">
  <input class="input" type="text" placeholder="Text input">
</p>
<label class="label">Event Name</label>
<p class="control has-icon has-icon-right">
  <input class="input is-success" type="text" placeholder="Text input" value="Please type the Event Name">
</p>
<label class="label">Description</label>
<p class="control">
  <textarea class="textarea" placeholder="Textarea"></textarea>
</p>
<p class="control">
  <button class="button is-primary">Location</button>
  <button class="button is-link">Submit</button>
</p>
