
<h1>Edit Event</h1>

<label class="label">Your Event Name</label>

<form id="editEvent" method="POST">
  <input type="hidden" name="_method" value="PUT">
<p class="control">
  <input id = "eventname" class="input" type="text" placeholder="text input" name="name">
</p>
<label class="label">Event Location</label>
<p class="control has-icon has-icon-right">
  <input id = "eventlocation" class="input is-success" type="text" placeholder="Text input"  name="location">
</p>
<label class="label">Description</label>
<p class="control">
  <textarea id= "description" class="textarea" placeholder="Please describe the event" name="description"></textarea>
</p>
<p class="control">
  <button class="button is-primary">Location</button>
  <input type="submit" name="submit" value="Submit" class="button is-link">
</p>
</form>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/editevent.js" charset="utf-8"></script>
