<section>
  <div class="container">
    <h1 class="title">Find an Event</h1>
    <% for(var i = 0; i < data.length; i++) { %>
      <div class="column is-3 is-pulled-left">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5"><%= data[i].name %></p>
              </div>
              <figure class="image is-128x128">
                <img src="http://placehold.it/128x128">
              </figure>
            </div>

            <div class="content">
              <p>Event Location: <%= data[i].location %></p>
              <p id="desc"><%= (data[i].description).substring(0, 30) %>...</p>
            </div>
            <a class="button is-primary is-medium viewEventButton" href="/events/<%= data[i]._id %>">View Event</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type= "text/javascript" src="/js/viewEvent.js"></script>
