<div>Your Event</div>


<nav class="level">

  <div class="level-item">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5"></p>
              </div>
              <figure class="image is-128x128">
                <img src="http://placehold.it/128x128">
              </figure>
            </div>

            <div class="content">
              <p>Event Location</p>
              <p id="desc">Description</p>
            </div>
            <a class="button is-medium">Join Event</a>

          </div>
        </div>
      </div>
    </div>
  </div>
