<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DON'T SAY WE BO JIO!
      </h1>
      <h2 class="subtitle">
        More text as subtext of the above
      </h2>
      <a class="button is-white" href="/login">Login!</a><a class="button is-primary" href="/signup">Signup!</a>
    </div>
  </div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
