<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JioApp | <%= title %></title>
    <link rel="stylesheet" href="/css/bulma.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
  </head>
  <body>
    <!-- Main Parital -->
      <% include partials/navbar %>
      <%- body %>
      <script type= "text/javascript" src="/js/main.js"></script>
  </body>
</html>
