<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bulma.css" type="text/css">
    <title>Home</title>
  </head>
  <body>
    <!-- Main Parital -->
      <% include partials/navbar %>
      <%- body %>
      <% include partials/footer %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type= "text/javascript" src="js/main.js"></script>
<script type= "text/javascript" src="js/viewEvent.js"></script>
  </body>
</html>
