<!DOCTYPE html>
<script id="navbar-partial" type="text/x-handlebars-template">
  <main>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="#">
          LOGO
        </a>
      </div>

      <span class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="#">
          Events
        </a>
        <a class="nav-item" href="#">
          Profile
        </a>

        <span class="nav-item">
          <a class="button is-primary" href="#">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
        <span>Login</span>
        </a>
        <a class="button is-primary" href="#">
          <span class="icon">
              <i class="fa fa-download"></i>
            </span>
          <span>Login</span>
        </a>
        </span>
      </div>
    </nav>
  </main>
</script>
