<!-- Navbar Parital -->
<script id="navbar-partial" type="text/x-handlebars-template">
  <main>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="#">
          LOGO
        </a>
      </div>

      <span class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="#">
          Events
        </a>
        <a class="nav-item" href="#">
          Profile
        </a>

        <span class="nav-item">
          <a class="button is-primary" href="#">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
        <span>Login</span>
        </a>
        <a class="button is-primary" href="#">
          <span class="icon">
              <i class="fa fa-download"></i>
            </span>
          <span>Login</span>
        </a>
        </span>
      </div>
    </nav>
  </main>
</script>

<!-- Footer Parital -->
<script id="footer-partial" type = "text/x-handlebars-template">
  <main>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </main>
</script>

<!-- Home Parital -->
<script id="home-partial" type = "text/x-handlebars-template">
  <img src="app pic" alt="app pic" height="42" width="42">
  <div>SOME INTRODUCTORY TEXT</div>
  <div>More text as subtext of the above</div>
  <button type="button">Login!</button><button type="button">Signup!</button>
</script>

<!-- Signup Parital -->
<script id="signup-partial" type = "text/x-handlebars-template">
  <label class="label">Name</label>
  <p class="control">
    <input class="input" type="text" placeholder="Text input">
  </p>
  <label class="label">Username</label>
  <p class="control has-icon has-icon-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <i class="fa fa-check"></i>
    <span class="help is-success">This username is available</span>
  </p>
  <label class="label">Email</label>
  <p class="control has-icon has-icon-right">
    <input class="input is-danger" type="text" placeholder="Email input" value="hello@">
    <i class="fa fa-warning"></i>
    <span class="help is-danger">This email is invalid</span>
  </p>
  <p class="control">
    <button class="button is-primary">Submit</button>
    <button class="button is-link">Cancel</button>
  </p>
</script>

<!-- Login Parital -->
<script id="login-partial" type = "text/x-handlebars-template">
  <label class="label">Username</label>
  <p class="control has-icon has-icon-right">
    <input class="input is-success" type="text" placeholder="Text input" value="Please enter your username">
  </p>
  <label class="label">Password</label>
  <p class="control has-icon has-icon-right">
    <input class="input is-danger" type="text" placeholder="Email input" value="Please enter your password">
  </p>
  <p class="control">
    <button class="button is-primary">Login</button>
  </p>
</script>
